<h1><%= @passenger.name %>'s Page</h1>

<section class = "flights">
  <ul>
    <% @passenger.flights.each do |flight| %>
      <li>Flight <%= link_to flight.number, "/flights/#{flight.id}" %></li>
    <% end %>
  </ul>
</section>
